
@font-face
  font-family: 'Icomoon'
  src: url('../fonts/Icomoon.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-SemiBold.eot')
  src: url('../fonts/Panton/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-SemiBold.woff') format('woff'),url('../fonts/Panton/Panton-SemiBold.ttf') format('truetype')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-BlackItalic.eot')
  src: url('../fonts/Panton/Panton-BlackItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-BlackItalic.woff') format('woff'),url('../fonts/Panton/Panton-BlackItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-ExtraBoldItalic.eot')
  src: url('../fonts/Panton/Panton-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-ExtraBoldItalic.woff') format('woff'),url('../fonts/Panton/Panton-ExtraBoldItalic.ttf') format('truetype')
  font-weight: 800
  font-style: italic

@font-face
  font-family: 'Panton ExtraBlack'
  src: url('../fonts/Panton/Panton-ExtraBlackItalic.eot')
  src: url('../fonts/Panton/Panton-ExtraBlackItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-ExtraBlackItalic.woff') format('woff'),url('../fonts/Panton/Panton-ExtraBlackItalic.ttf') format('truetype')
  font-weight: 900
  font-style: italic

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-Thin.eot')
  src: url('../fonts/Panton/Panton-Thin.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-Thin.woff') format('woff'),url('../fonts/Panton/Panton-Thin.ttf') format('truetype')
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-Light.eot')
  src: url('../fonts/Panton/Panton-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-Light.woff') format('woff'),url('../fonts/Panton/Panton-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-Bold.eot')
  src: url('../fonts/Panton/Panton-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-Bold.woff') format('woff'),url('../fonts/Panton/Panton-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-ExtraLightItalic.eot')
  src: url('../fonts/Panton/Panton-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-ExtraLightItalic.woff') format('woff'),url('../fonts/Panton/Panton-ExtraLightItalic.ttf') format('truetype')
  font-weight: 200
  font-style: italic

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-SemiBoldItalic.eot')
  src: url('../fonts/Panton/Panton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-SemiBoldItalic.woff') format('woff'),url('../fonts/Panton/Panton-SemiBoldItalic.ttf') format('truetype')
  font-weight: 600
  font-style: italic

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-BoldItalic.eot')
  src: url('../fonts/Panton/Panton-BoldItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-BoldItalic.woff') format('woff'),url('../fonts/Panton/Panton-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-LightItalic.eot')
  src: url('../fonts/Panton/Panton-LightItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-LightItalic.woff') format('woff'),url('../fonts/Panton/Panton-LightItalic.ttf') format('truetype')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-Regular.eot')
  src: url('../fonts/Panton/Panton-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-Regular.woff') format('woff'),url('../fonts/Panton/Panton-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-Black.eot')
  src: url('../fonts/Panton/Panton-Black.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-Black.woff') format('woff'),url('../fonts/Panton/Panton-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-Italic.eot')
  src: url('../fonts/Panton/Panton-Italic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-Italic.woff') format('woff'),url('../fonts/Panton/Panton-Italic.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Panton ExtraBlack'
  src: url('../fonts/Panton/Panton-ExtraBlack.eot')
  src: url('../fonts/Panton/Panton-ExtraBlack.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-ExtraBlack.woff') format('woff'),url('../fonts/Panton/Panton-ExtraBlack.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-ExtraBold.eot')
  src: url('../fonts/Panton/Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-ExtraBold.woff') format('woff'),url('../fonts/Panton/Panton-ExtraBold.ttf') format('truetype')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-ExtraLight.eot')
  src: url('../fonts/Panton/Panton-ExtraLight.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-ExtraLight.woff') format('woff'),url('../fonts/Panton/Panton-ExtraLight.ttf') format('truetype')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Panton'
  src: url('../fonts/Panton/Panton-ThinItalic.eot')
  src: url('../fonts/Panton/Panton-ThinItalic.eot?#iefix') format('embedded-opentype'),url('../fonts/Panton/Panton-ThinItalic.woff') format('woff'),url('../fonts/Panton/Panton-ThinItalic.ttf') format('truetype')
  font-weight: 100
  font-style: italic
